/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice, .alert {
  font-weight: bold;
}
.signup_button, .login_button {
  margin: 0 auto;
  background-color: #4483ea;
  color: white;
  border-radius: 8px;
  height: 32px;
  width: 60px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;

}

 nav {
   background-color: #1a2f5b;
   height: 90px;
   padding-top: 1px;
   top: 0;
   color: white;

 }


  h1 {
    text-align: center;
    font-size: 35px;
    color: white;
  }

  body {

    font-family: 'Raleway', sans-serif;
    background-color: #50c97c;

    color: #1a2f5b;
    margin: 0 auto;
    text-align: center;
    background: url('tennisball.jpg') no-repeat center center fixed;
    background-size: cover;
   /*background-repeat: no-repeat;*/
 }


.field {
  font-weight: bold;
}

  /*body a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #1a2f5b;
    border-radius: 15px;
    padding: 8px;

  }

  body a:hover {
    color: #1a2f5b;
    background-color: white;
    border-radius: 30px;
    padding: 8px;
  }*/

.events a {

  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: #1a2f5b;
  border-radius: 15px;
  padding: 8px;

}

.events a:hover {
  color: #1a2f5b;
  background-color: white;
  border-radius: 30px;
  padding: 8px;
}


.eventlinks a {
  text-decoration: none;
  color: white;
}

.eventlinks a:hover{
  color: #1a2f5b;
  background-color: white;
  border-radius: 30px;
  padding: 4px;

}
